
<!-- header section starts  -->
<app-navbar></app-navbar>
<!-- header section ends -->



<!-- home section starts  -->
<app-hero></app-hero>
<!-- home section ends -->



<!-- about section starts  -->
<app-about></app-about>
<!-- about section ends -->



<!-- icons section starts  -->
<section class="icons-container">
    <div class="icons">
        <img src="../assets/image/icon-assets/icon-1.png" alt="">
        <div class="info">
            <h3>free delivery</h3>
            <span>on all orders</span>
        </div>
    </div>
    <div class="icons">
        <img src="../assets/image/icon-assets/icon-2.png" alt="">
        <div class="info">
            <h3>gelato not fresh</h3>
            <span>moneyback guarantee</span>
        </div>
    </div>
    <div class="icons">
        <img src="../assets/image/icon-assets/icon-3.png" alt="">
        <div class="info">
            <h3>offer & gifts</h3>
            <span>on all orders</span>
        </div>
    </div>
    <div class="icons">
        <img src="../assets/image/icon-assets/icon-4.png" alt="">
        <div class="info">
            <h3>secure paymens</h3>
            <span>protected by paypal</span>
        </div>
    </div>
</section>
<!-- icons section ends -->



<!-- prodcuts section starts  -->
<app-product></app-product>
<!-- prodcuts section ends -->



<!-- review section starts  -->
<app-review></app-review>
<!-- review section ends -->



<!-- contact section starts  -->
<app-contact></app-contact>
<!-- contact section ends -->



<!-- footer section starts  -->
<app-footer></app-footer>
<!-- footer section ends -->


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
